{% extends 'website/base.html' %}
{% load static %}


<style>
    {% block style %}


        li {
            visibility: hidden;
        }

        ul li a, #nav ul li #nav2 li, label {
            visibility: visible;
        }


        main {
            grid-area: main;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 7fr 1fr;

            grid-template-areas:
            "subheader subheader subheader subheader subheader"
            ". form form form ."
            "subfooter subfooter subfooter subfooter subfooter";
        }

        select[id^="id_question"] {
            margin-bottom: 3%;
            margin-top: 3%;
        }



        form {

            text-align: start;
            grid-area: form;
            display: flex;
            flex-direction: column;
        }


        #name_surname {
            display: flex;
        }

        #name_surname p:last-child {
            padding-left: 15px;
        }

        legend {
            padding: 20px 0px 20px 00px;
            font-size: xx-large;
        }

        #email {
            align-self: center;
            font-size: 100%;
            text-decoration: none;
            padding: 55px 0px 50px 0px;
            color: #4974a5;
        }


        #email:active {
            color: #76918F;
        }


        input {
            background-color: #eee;
            border: none;
            width: 100%;
            border-radius: 0;
            font-size: 16px;
            color: #000000;
            padding: 16px;
            margin-bottom: 2%;
        }



        input[type=checkbox] {
            width: auto;
        }

        fieldset p {
            color: rgb(71, 71, 71);
        }

        fieldset {
            border: 0;
        }


        .question1 {
            width: 30%;
        }


        @media screen and (max-width: 600px) {

            main {
                grid-area: main;
                display: grid;
                grid-template-columns: 1fr 10fr 1fr;
                grid-template-rows: 1fr 5fr 1fr;

                grid-template-areas:
                "subheader subheader subheader"
                ". form ."
                "subfooter subfooter subfooter";
            }

            input {
                background-color: #eee;
                border: none;
                width: 100%;
                border-radius: 0;
                font-size: 15px;
                color: #000000;
                padding: 16px;
            }
        }

    {% endblock style %}

</style>


{% block main %}

    <article id="subheader">
        Comments
    </article>

    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}


        <input type="submit" value="SUBMIT" lang="pt">

    </form>
{% endblock main %}


