{% extends 'website/base.html' %}
{% load static %}


<style>
    {% block style %}


        li {
            visibility: hidden;
        }

        ul li a, #nav ul li #nav2 li, label {
            visibility: visible;
        }


        main {
            grid-area: main;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 7fr 1fr;

            grid-template-areas:
            "subheader subheader subheader subheader subheader"
            ". form form form ."
            "subfooter subfooter subfooter subfooter subfooter";
        }

        select[id^="id_question"] {
            margin-bottom: 5%;
        }

        form {

            text-align: start;
            grid-area: form;
            display: flex;
            flex-direction: column;
        }


        input, textarea {
            background-color: #eee;
            border: none;
            width: 100%;
            border-radius: 0;
            font-size: 16px;
            color: #000000;
            padding: 16px;
            margin-bottom: 5%;
        }


        input[type=checkbox] {
            width: auto;
        }

        fieldset p {
            color: rgb(71, 71, 71);
        }

        fieldset {
            border: 0;
        }

        .question1 {
            width: 30%;
            margin-bottom: 5%;
        }


        @media screen and (max-width: 600px) {

            main {
                grid-area: main;
                display: grid;
                grid-template-columns: 1fr 10fr 1fr;
                grid-template-rows: 1fr 5fr 1fr;

                grid-template-areas:
                "subheader subheader subheader"
                ". form ."
                "subfooter subfooter subfooter";
            }

            input {
                background-color: #eee;
                border: none;
                width: 100%;
                border-radius: 0;
                font-size: 15px;
                color: #000000;
                padding: 16px;
            }
        }

    {% endblock style %}

</style>


{% block main %}

    <article id="subheader">
        Comments
    </article>

    <form method="POST" action="" >
        {% csrf_token %}
        <h2>Personal Information</h2>
        <hr>
        <label>{{ form.name.label_tag }}</label>
        {{ form.name }}
        <label>{{ form.surname.label_tag }}</label>
        {{ form.surname }}
        <label>{{ form.email.label_tag }}</label>
        {{ form.email }}

        <h2 style="margin-top: 5%">Comment Section</h2>
        <hr>
        <label>{{ form.question1.label_tag }}</label>
        {{ form.question1 }}
        <label>{{ form.question2.label_tag }}</label>
        {{ form.question2 }}
        <label>{{ form.question3.label_tag }}</label>
        {{ form.question3 }}
        <label>{{ form.question4.label_tag }}</label>
        {{ form.question4 }}
        <label>{{ form.question5.label_tag }}</label>
        {{ form.question5 }}
        <label>{{ form.question6.label_tag }}</label>
        {{ form.question6 }}
        <label>{{ form.question7.label_tag }}</label>
        {{ form.question7 }}
        <label>{{ form.question8.label_tag }}</label>
        {{ form.question8 }}
        <label>{{ form.question9.label_tag }}</label>
        {{ form.question9 }}


        <input type="submit" value="SUBMIT" lang="pt">
    </form>
{% endblock main %}


