{% extends 'website/base.html' %}
{% load static %}


<style>
    {% block style %}

        main {
            grid-area: main;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 3fr 1fr;
            grid-template-areas:
            "subheader subheader subheader subheader subheader"
            ". sub_subheader sub_subheader sub_subheader ."
            ". event event event ."
            "subfooter subfooter subfooter subfooter subfooter";
        }


        #sub_subheader {
            grid-area: sub_subheader;
        }


        #event {
            grid-area: event;
            margin-bottom: 10%;
        }

        fieldset p {
            color: rgb(71, 71, 71);
        }

        fieldset {
            border: 0;
        }

        label {
            position: relative;
        }


        @media screen and (max-width: 600px) {

            main {
                grid-area: main;
                display: grid;
                grid-template-columns: 1fr 10fr 1fr;
                grid-template-rows: 1fr 0.5fr 4fr 1fr;
                grid-template-areas:
            "subheader subheader subheader"
            ". sub_subheader ."
            ". contact ."
            "subfooter subfooter subfooter";
            }
        }

    {% endblock style %}

</style>


{% block main %}

    <article id="subheader">
        Events
    </article>

    <article id="sub_subheader">
        <a href="{% url 'website:new_event' %}">
            <button>NEW EVENT</button>
        </a>
    </article>


    <article id="event">
        {% for event in events %}
            <ul style="background-color: #eee; margin-bottom: 5%;">
                <h2><a href=" {% url 'website:events_details' event.id %}"><button>Details</button></a>
                    {{ event.title }}
                </h2>
                <p style="padding-bottom: 5%; padding-left: 13%">{{ event.location }}, {{ event.date }}</p>
            </ul>
        {% endfor %}
    </article>




{% endblock main %}



