{% extends 'website/base.html' %}
{% load static %}


<style>
    {% block style %}

        main {
            grid-area: main;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 2.5fr 1fr;
            grid-template-areas:
            "subheader subheader subheader subheader subheader"
            ". sub_subheader sub_subheader sub_subheader ."
            ". event event event ."
            "subfooter subfooter subfooter subfooter subfooter";
        }


        #sub_subheader {
            grid-area: sub_subheader;
        }


        #event {
            grid-area: event;
            margin-bottom: 10%;
        }

        fieldset p {
            color: rgb(71, 71, 71);
        }

        fieldset {
            border: 0;
        }

        label {
            position: relative;
        }


        @media screen and (max-width: 600px) {

            main {
                grid-area: main;
                display: grid;
                grid-template-columns: 1fr 10fr 1fr;
                grid-template-rows: 1fr 0.5fr 4fr 1fr;
                grid-template-areas:
            "subheader subheader subheader"
            ". sub_subheader ."
            ". contact ."
            "subfooter subfooter subfooter";
            }
        }

    {% endblock style %}

</style>

{% block main %}

    <article id="subheader">
        {{ events.title }}
    </article>


    <article id="sub_subheader">
        <a href="{% url 'website:participate' events.id %}">
            <button>PARTICIPATE</button>
        </a>
        <a href="{% url 'website:events' %}">
            <button id="cancel_button">BACK TO EVENTS</button>
        </a>
    </article>

    <article id="event">
        <ul style="background-color: #eee; margin-bottom: 5%;">
            <h2>Details</h2>
            <li>{{ events.location }}</li>
            <li>{{ events.date }}</li>
            <li>{{ events.time }}h</li>
            <li>{{ events.description }}h</li>
            </p>
        </ul>

        <ul style="background-color: #eee; margin-bottom: 5%;">
            <h2 >Participants</h2>
            {% for musician in musicians %}
                <li>{{ musician.name }} {{ musician.surname }}</li>
            {% empty %}
                <li>No musicians :(</li>
            {% endfor %}
        </ul>
    </article>


{% endblock main %}



