{% extends 'website/base.html' %}
{% load static %}

<style>
    {% block style %}

        main {
            grid-area: main;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 3.5fr 1fr;
            grid-template-areas:
            "subheader subheader subheader subheader subheader"
            ". sub_subheader sub_subheader sub_subheader ."
            ". contact contact contact ."
            "subfooter subfooter subfooter subfooter subfooter";
        }


        #sub_subheader {
            grid-area: sub_subheader;
        }


        #contact {
            grid-area: contact;
            margin-bottom: 10%;
        }

        fieldset p {
            color: rgb(71, 71, 71);
        }

        fieldset {
            border: 0;
        }

        label {
            position: relative;
        }


        @media screen and (max-width: 600px) {

            main {
                grid-area: main;
                display: grid;
                grid-template-columns: 1fr 10fr 1fr;
                grid-template-rows: 1fr 0.5fr 4fr 1fr;
                grid-template-areas:
            "subheader subheader subheader"
            ". sub_subheader ."
            ". contact ."
            "subfooter subfooter subfooter";
            }
        }

    {% endblock style %}

</style>




{% block main %}

    <article id="subheader">
        Contacts
    </article>

    <article id="sub_subheader">
        <a href="{% url 'website:contact_us' %}">
            <button>NEW CONTACT</button>
        </a>
    </article>


    <article id="contact">
        {% for contact in contacts %}
            <ul style="background-color: #eee; margin-bottom: 5%;">
                    <h2><a href="{% url 'website:edit_contact' contact.id %}">
                        <button>Edit</button>
                    </a>
                        {{ contact.subject }}
                    </h2>
                     <p style="padding-bottom: 5%; padding-left: 10%">{{ contact.message }}</p>
            </ul>
        {% endfor %}
    </article>



{% endblock main %}


