{% extends 'website/base.html' %}
{% load static %}

{% block title %}
    New Event | InstrMusic
{% endblock title %}


<style>
    {% block style %}

        li {
            visibility: hidden;
        }

        ul li a, #nav ul li #nav2 li, label {
            visibility: visible;
        }

        main {
            grid-area: main;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 6fr 1fr;
            grid-template-areas:
            "subheader subheader subheader subheader subheader"
            ".sub_subheader sub_subheader sub_subheader."
            ". form form form ."
            "subfooter subfooter subfooter subfooter subfooter";
        }

        #sub_subheader {
            grid-area: sub_subheader;
        }

        form {
            text-align: start;
            grid-area: form;
            display: flex;
            flex-direction: column;
        }


        input {
            background-color: #eee;
            border: none;
            width: 100%;
            border-radius: 0;
            font-size: 16px;
            color: #000000;
            padding: 16px;
            margin-bottom: 2%;
        }

        input[type=checkbox] {
            width: auto;
        }

        fieldset p {
            color: rgb(71, 71, 71);
        }

        fieldset {
            border: 0;
        }


        @media screen and (max-width: 600px) {

            main {
                grid-area: main;
                display: grid;
                grid-template-columns: 1fr 10fr 1fr;
                grid-template-rows: 1fr 5fr 1fr;

                grid-template-areas:
                "subheader subheader subheader"
                ". form ."
                "subfooter subfooter subfooter";
            }

            input {
                background-color: #eee;
                border: none;
                width: 100%;
                font-size: 15px;
                color: #000000;
                padding: 16px;
            }
        }

    {% endblock style %}

</style>



{% block main %}

    <article id="subheader">
        New Event
    </article>

    <article id="sub_subheader">
        <a href="{% url 'website:events' %}">
            <button id="cancel_button">EVENT LIST</button>
        </a>
    </article>


    <form method="POST" action="" >
        {% csrf_token %}
        <h2>Create a new event</h2>
        <hr>
        <label>{{ form.title.label_tag }}</label>
        {{ form.title }}
        <label>{{ form.description.label_tag }}</label>
        {{ form.description }}
        <label>{{ form.date.label_tag }}</label>
        {{ form.date }}
        <label>{{ form.time.label_tag }}</label>
        {{ form.time }}
        <label>{{ form.location.label_tag }}</label>
        {{ form.location }}

        <input type="submit" value="SUBMIT" lang="pt">

    </form>

{% endblock main %}

