{% extends 'website/base.html' %}
{% load static %}


<style>
    {% block style %}

        li {
            visibility: hidden;
        }

        ul li a, #nav ul li #nav2 li, label {
            visibility: visible;
        }

        main {
            grid-area: main;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 0.5fr 3.5fr 1fr;
            grid-template-areas:
            "subheader subheader subheader subheader subheader"
            ". sub_subheader sub_subheader sub_subheader ."
            ". form form form ."
            "subfooter subfooter subfooter subfooter subfooter";
        }

        #sub_subheader {
            grid-area: sub_subheader;
        }

        form {
            text-align: start;
            grid-area: form;
            display: flex;
            flex-direction: column;
        }


        input {
            background-color: #eee;
            border: none;
            width: 100%;
            border-radius: 0;
            font-size: 16px;
            color: #000000;
            padding: 16px;
            margin-bottom: 2%;
        }

        input[type=checkbox] {
            width: auto;
        }

        fieldset p {
            color: rgb(71, 71, 71);
        }

        fieldset {
            border: 0;
        }


        @media screen and (max-width: 600px) {

            main {
                grid-area: main;
                display: grid;
                grid-template-columns: 1fr 10fr 1fr;
                grid-template-rows: 1fr 5fr 1fr;

                grid-template-areas:
                "subheader subheader subheader"
                ". form ."
                "subfooter subfooter subfooter";
            }

            input {
                background-color: #eee;
                border: none;
                width: 100%;
                font-size: 15px;
                color: #000000;
                padding: 16px;
            }
        }

    {% endblock style %}

</style>



{% block main %}

    <article id="subheader">
        Participate
    </article>

     <article id="sub_subheader">
        <a href="{% url 'website:events_details' events_id %}">
            <button id="cancel_button">BACK TO EVENT DETAILS</button>
        </a>
    </article>

    <form id="participate" method="POST" action="" >
        {% csrf_token %}
        <h2> {{ e.title }} </h2>
        <hr>
        <label>{{ form.name.label_tag }}</label>
        {{ form.name }}
        <label>{{ form.surname.label_tag }}</label>
        {{ form.surname }}<br>
        <label>{{ form.email.label_tag }}</label>
        {{ form.email }}<br>
        <label>{{ form.instrument.label_tag }}</label>
        {{ form.instrument }}<br>

        <p><input type="submit" value="SUBMIT" lang="pt"></p>

    </form>

{% endblock main %}

